
* {
}


body {
  margin: 0 auto;
  background-color: rgb(233, 233, 233);
}

header.header img {
  display: flex;
  width: 150px;
}

section.map {
  text-align: center;
  background-color: rgb(233, 233, 233);
}

section.map a {
  font-family: 'Roboto Mono', sans-serif;
}

section.map img {
  animation: fadeIn 2s;
  background-color: rgba(139, 217, 248, 0.6);
  width: 1280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh; 
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  align-items: center;
  border-radius: 2rem;
}

section.top-page {
  background-color: white;
  background: url('../images/Fond2.jpg');
  align-items: center;
  font-family: 'Roboto Mono', sans-serif;
  margin-bottom: 2vh;
  padding-bottom: auto;
}

section.Buttons {
  animation: fadeIn 2s;
  text-align: center;
  background-color: rgb(233, 233, 233);;
  padding-top: 4vh;
  padding-bottom: 8vh;
}

@import url('https://fonts.cdnfonts.com/css/brush-stroke-personal-use');

.btnF {
  font-family: 'Ubuntu Mono', sans-serif;
}

section.ButtonsC a {
  background-color:rgb(233, 233, 233);;
  list-style: none;
  font-size: 5vh;
  color: black;
  padding-right: 40px;
  padding-left: 40px;
  outline: 8px solid double rgba(139, 217, 248, 0.6);
  border-radius: 2rem;
}

section.ButtonsC {
  text-align: center;
  align-items: center;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {opacity: 0; scale: 10%;}
  100% {opacity: 1; scale: 100%;}
}

section.ButtonsC img {
  border-radius: 20rem;
  max-width: 15%;
  max-height: auto;
}

section.Buttons a {
  background-color:rgba(139, 217, 248, 0.6);
  list-style: none;
  font-size: 9vh;
  color: black;
  text-align: center;
  margin-right: 4vh;
  margin-left: 4vh;
  padding-right: 40px;
  padding-left: 40px;
  outline: 8px thick double rgba(170, 50, 20, .6);
  border-radius: 2rem;
}

div.landing-page h1 {
  align-items: center;
  color: aliceblue;
  margin-bottom: 0px;
}